main {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}

#tweets-container {
  width: 90%;
}

.new-tweet {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  width: 90%;
}

.error-message {
  color: white;
  background-color: #e74c3c; /* Red background color, for example */
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially hide the error element */
}

.new-tweet label {
  display: block;
  font-weight: bold;
}

.new-tweet textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0)
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-family: 'Bungee', sans-serif;
}

.new-tweet .counter {
  display: flex;
  justify-content: flex-end;
  float: right;
  color: gray;
  font-family: 'Bungee', sans-serif;
}

.new-tweet .counter.counter-exceeded {
  color: red;
}

.new-tweet div::after {
  content: "";
  display: table;
  clear: both;
}

.tweet {
  width: 90%;
  max-width: 800px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tweet:hover {
  box-shadow: 10px 5px 0px rgba(64, 86, 161, 0.6);
}

.user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.display-name {
  font-weight: bold;
  margin-right: 5px;
}

.handle {
  display: flex;
  flex-direction: row;
  color: rgb(181, 179, 179);
}

.tweet-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tweet-date {
  display: flex;
  flex-direction: row;
  color: gray;
  margin-right: 10px;
}

.tweet-icons i {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  color: #4056A1;
}

.tweet-icons i:hover {
  color: rgb(158, 132, 29);
}